@import "../css/variables.scss";

.description{
    padding-bottom: 1.5rem;
    h1{
        font-size: .8rem;
        letter-spacing: .1rem;
        color: $orange;
        text-transform: uppercase;
    }
    h2{
        max-width: 80%;
        margin: 1rem 0;
        font-size: 1.7rem;
    }
    p{
        color: $darkgrayishBlue;
        font-size: .9rem;
        line-height: 1.4rem;
    }
}